* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    background: #0F0E0D;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

::selection {
    background: rgb(255, 94, 0);
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #0F0E0D;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgba(255, 94, 0, 0.486);
    border-radius: 100px;
}


/**** custom cursor****/

#outerCursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid white;
    position: fixed;
    top: -30px;
    left: -30px;
    transition: all 100ms ease;
    pointer-events: none;
    z-index: 64353877836538495789357389457349857348957348957348957348957348957348957;
}

#cursor {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    border: 1px solid white;
    position: fixed;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 64353877836538495789357389457349857348957348957348957348957348957348957;
}


/*****header******/

header {
    width: 100%;
    /* height: 110vh; */
    position: relative;
    display: flex;
}


/*****nav******/

nav {
    width: 100%;
    height: 16vh;
    background: transparent;
    overflow: hidden;
    /* border-bottom: 1px solid white; */
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    background: #0F0E0D;
    z-index: 98563374384654343743374345734;
}

nav .logo {
    position: absolute;
    top: 60px;
    left: 80px;
    width: 70px;
}

.logo img {
    width: 100%;
}

.menu {
    position: absolute;
    top: 64px;
    display: flex;
    right: 46%;
}

.menu li {
    margin: 0 40px;
}

.menu li a {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(226, 55, 55); */
}

.menu li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -5px;
    right: -5px;
    height: 1px;
    display: inline-block;
    background-color: white;
    transform: scaleX(0);
    transition: 200ms;
}

.menu li:hover a::after {
    transform: scaleX(1);
}


/** header content****/

.header-content {
    overflow: hidden;
    padding: 70px;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: 1fr 5fr 1fr; */
    grid-gap: 4px;
    grid-template-areas: "e e i i i i";
    margin-top: 50px;
}

.empty {
    grid-area: e;
    /* background: rgb(80, 223, 14); */
}

.header-content .img {
    grid-area: i;
}

.header-content .img img {
    width: 100%;
}